/*body {
    background-color: blue;
}*/

/*.jumbotron {
    display: none;
}*/

.center {
    align-items: center;
}

.cSharpPanel {
    display: none;
}

.javaPanel {
    display: none;
}

.phpPanel {
    display: none;
}

.rubyPanel {
    display: none;
}

.oopsPanel {
    display: none;
}

#questions {
    display: none;
}
