body {
    background-color: #c1d2c9;
}

.container {
    background-color: white;
    overflow-y: auto;
    height: 100%;
}

img {
    display: block;
    margin: auto;
}

.jumbotron#quiz {
    padding-bottom: 1px;;
}

.jumbotron h1{
    text-align: center;
    display: none;
}

.jumbotron h2{
    text-align: center;
    display: none;
}

.jumbotron h3{
    text-align: center;
    display: none;
}

.jumbotron h4{
    text-align: center;
    display: none;
}


.center {
    align-items: center;
    text-align: center;
}

.cSharpPanel {
    display: none;
}

.javaPanel {
    display: none;
}

.phpPanel {
    display: none;
}

.rubyPanel {
    display: none;
}

.oopsPanel {
    display: none;
}

#questions {
    display: none;
}

.radio-label {
    /*background: yellow;*/
}
 #questions h4 {
    text-decoration: underline;
 }
