body {
    background-color: #c1d2c9;

}

.container {
    background-color: white;
    overflow-y: auto;
    height: 100%;
}

img {
    display: block;
    margin: auto;
}

.jumbotron#quiz {
    padding-bottom: 1px;;
}

.jumbotron h1{
    text-align: center;
    display: none;
    margin-top: 10px;
}

.jumbotron h2{
    text-align: center;
    display: none;
    margin-top: 10px;

}

.jumbotron h3{
    text-align: center;
    display: none;
    margin-top: 5px;
}

.jumbotron h4{
    text-align: center;
    display: none;
    margin-top: 12px;
}

.center {
    align-items: center;
    text-align: center;
}

.cSharpPanel {
    display: none;
}

.javaPanel {
    display: none;
}

.phpPanel {
    display: none;
}

.rubyPanel {
    display: none;
}

.oopsPanel {
    display: none;
}

#questions {
    display: none;
}

.radio-label {
    /*background: yellow;*/
}

#questions h4 {
    text-decoration: underline;
}

#epic {
    height: 5%;
    width: 5%;
}

.btn {
    margin-bottom: 10em;
}

#submit {
    margin-top: 2em;
    margin-bottom: 2px;
}

.clickable {
    cursor: pointer;
    color: #0088cc;
}

.clickable:hover {
    text-decoration: underline;
}
